<div class="fs-6 fw-semibold">
  Grados
</div>

<button class="btn btn-outline-primary m-2" routerLink="/config/grado/crear"><i class="far fa-trash-alt"></i>Crear Grado</button>
<!-- <app-grado-create></app-grado-create> -->
<h5>Listado de Grado</h5>
<hr>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Grado</th>
        <th scope="col">Nivel</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
  <tbody>
    <tr *ngFor="let c of grados">
      <th scope="row">{{c.codigo}}</th>
      <td>{{c.descipcion}}</td>
      <td>{{c.nivel}}</td>
      <td>
        <!-- <button class="btn btn-outline-primary" routerLink="/detalle/{{c.codigo}}"><i class="far fa-eye"></i>Ver</button> -->
      <!-- <button class="btn btn-outline-warning"><i class="far fa-edit"></i>Editar</button> -->
      <button class="btn btn-outline-danger" (click)="eliminar(c.codigo)"><i class="far fa-trash-alt"></i>Eliminar</button></td>
    </tr>
  </tbody>
  <!-- <tbody>
    <tr>
      <td colspan="2">Sin Elementos</td>
    </tr>
  </tbody> -->

  </table>
