<div class="card bg-light text-black w-75 mx-auto">
  <div class="card-header"> Registro de Docente</div>
  <div class="card-body">
    <form (ngSubmit)="save()" #clienteForm="ngForm">
      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input type="text" class="form-control" id="descripcion"
          [(ngModel)]="docentes.nombre"
          name="descripcion" required #descripcion="ngModel">
        <div class="alert alert-danger"
          *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
          <div *ngIf="descripcion.errors">
                Nombre es requerido
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="price">Especialidad</label>
        <input type="text" class="form-control" id="especialidad" [(ngModel)]="docentes.especialidad"
                name="especialidad">
      </div>


      <div class="form-group">
        <button type="submit" class="btn btn-success"
            [disabled]="!clienteForm.form.valid">Registrar</button>
      </div>

    </form>
  </div>
</div>
