
<div class="fs-6 fw-semibold">
  Docentes
</div>
<button class="btn btn-outline-primary m-2" routerLink="/config/docentes/crear"><i class="far fa-trash-alt"></i>Crear Docente</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Especialidad</th>
      </tr>
    </thead>
  <tbody>
    <tr *ngFor="let c of docentes">
      <th scope="row">{{c.codigo}}</th>
      <td>{{c.nombre}}</td>
      <td>{{c.especialidad}}</td>
      <td>
        <!-- <button class="btn btn-outline-primary" routerLink="/detalle/{{c.codigo}}"><i class="far fa-eye"></i>Ver</button> -->
      <!-- <button class="btn btn-outline-warning"><i class="far fa-edit"></i>Editar</button> -->
      <button class="btn btn-outline-danger" (click)="eliminar(c.codigo)"><i class="far fa-trash-alt"></i>Eliminar</button></td>
    </tr>
  </tbody>
  <!-- <tbody>
    <tr>
      <td colspan="2">Sin Elementos</td>
    </tr>
  </tbody> -->

  </table>
